/*Add your CSS here*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px
  color: red;
}

h2 {
  color: maroon;
}

 p {
  color: midnightblue;
}

img {
  width: 100%;
  height: auto;
}

.caption {
  color: tomato;
  font-style: italic;
}

a:link {
  color: gold;
}

a:visited {
  color: slateblue;
}

a:hover {
  color: yellow;
}

a:active {
  color: orange;
}

footer a:hover {
text-decoration: none;
}

/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
